extends layout

block content
	h1 HomePage
	.jumbotron
		h3 Latest Posts
		ul.list-group
		each post in posts
			li.list-group-item
				- var ref = '/post/' + post._id
				a(href=ref).lead #{post.title}
				br
				span Created at: #{post.createdAt}
				button(id=post._id).btn.btn-danger.deleteBtn.pull-right Delete Post
	each s in scripts
		script(src=s)
		
